<header>
  <div class="container">
    <div class= "vertical1"></div>
    <div class= "vertical2"></div>
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a routerLink="/" target="_parent">Lorem Ipsum</a></li>
        <li><a routerLink="/about" target="_parent">Lorem Ipsum</a></li>
        <li><a routerLink="/about" target="_parent">Lorem Ipsum</a></li>
      
        <li><div class="nav1"><a routerLink="/contact" target="_parent">Lorem Ipsum</a></div></li>

      </ul>
    </nav>
  </div>
</header>